   <!-- Top Bar -->
 <!--   <style>
    .faw {
      color: #a3081a;
    }
   </style>
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p style = "font-size: 14px;">  <i class="fas faw fa-phone"></i> <a href="tel:+353 892012345"> +353 892012345  </a>&nbsp; 
          <i class="fas faw fa-envelope-open"></i> <a href="mailto:contact@realestate.ie "> contact@realestate.ie </a> </p>
        </div>
        <!-- <div class="col-md-4">
        </div> -->
     <!--    <div class="col-md-6">
          <div class="social text-right">
            <a href="#">
              <i class="fab faw fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab faw fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab faw fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab faw fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab faw fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->