{% extends 'base.html' %}

{% block title %} | Register Account {% endblock %}

{% block content %}

<style>
  .btn-secondary {
    background-color: #000;
    border-color: #000;
}
.bg-dark {
  background-color: #000 !important;
}
</style>
  <!-- new form-->
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 mx-auto">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register Here</h2>
                <p class="text-white-50 mb-5"> Please enter your details below!</p>
                <div class="form-outline form-white mb-4">
                   {% include 'partials/_alerts.html' %}
              <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <input type="text" class="form-control form-control-lg" name="first_name" required  />
                  <label class="form-label"> First Name</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="text" class="form-control form-control-lg" name="last_name"  required />
                  <label class="form-label"> Last Name</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="text" class="form-control form-control-lg" name="username" required />
                  <label class="form-label" > User Name</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" name= "email" required />
                  <label class="form-label"> Email</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" class="form-control form-control-lg"  name="password" required />
                  <label class="form-label" > Password</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" class="form-control form-control-lg" name="password2" required/>
                  <label class="form-label" > Confirm Password</label>
                </div>
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
              </form>
              </div>
              <div>
                <p class="mb-0">Already have an account? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Login Here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- new form ends here-->
  {% endblock %}