#header {
  height: 50px;
  background: #000;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color:#10284e;
}

div.breadcrumbs {
  background: #a3081a;
  color: #10284e;
}

div.breadcrumbs a {
  color: #333;
}

.module h2, .module caption, .inline-group h2 {
  background: #a3081a;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #a3081a;
  color: #fff;
}
.button.default, input[type=submit].default, .submit-row input.default {
 background: #000;
}
.submit-row a.deletelink {
background: #000 !important;
}